<div id="answers">
  <div id="flag">
   <ul>
    <tmpl_unless total>
      <li class="evid">Primi 10 commenti</li>
      <li><a href="<tmpl_var link escape=html>?all=true">Tutti i commenti</a></li>
    <tmpl_else>
      <li><a href="<tmpl_var link escape=html>?all=false">Primi 10 commenti</a></li>
      <li class="evid">Tutti i commenti</li>
    </tmpl_unless>
   </ul>
  </div>
  <tmpl_if enotify>
   <div class="notify"><tmpl_var name="info"></div>
  </tmpl_if>
  <tmpl_if logged>
    <form id="insertComment" action="manageAnswers.pl" method="post">
     <fieldset>
       <legend>Testo del messaggio</legend>
       <ul>
         <li><label for="text">Commento</label></li>
         <li><textarea name="testo" id="text" rows="5" cols="40"></textarea></li>
       </ul>
       <input type="hidden" name="username" value="<tmpl_var username escape=html>"/>
       <input type="hidden" name="id" value="<tmpl_var id escape=html>" />
       <input type="hidden" name="operation" value="insert" />
     </fieldset>
     <fieldset class="buttons">
       <legend>Bottoni</legend>
       <input class="button" type="submit" value="Inserisci" />
       <input class="button" type="reset" value="Annulla" />
     </fieldset>
    </form>
  <tmpl_else>
    <p class="logcheck">Per inserire un commento devi <a href="login.cgi">autenticarti</a></p>
  </tmpl_if>
  <tmpl_unless total>
    <h4 class="grane">Primi 10 commenti</h4>
  <tmpl_else>
    <h4 class="grane">Tutti i commenti</h4>
  </tmpl_unless>
  <TMPL_LOOP name="answers">
    <div class="answer">
      <div class="title">
        <span class="username"><tmpl_var name="username"></span>
        <span class="hour"><tmpl_var name="hour"></span>
        <span class="data"><tmpl_var name="data"></span>
      </div>
      <div class="text">
        <tmpl_var name="text">
      </div>
      <tmpl_if admin>
        <div class="delete">
          <form action="manageAnswers.pl" method="post">
            <fieldset>
              <legend>Bottone</legend>
              <input class="button" type="submit" value="Elimina" />
              <input type="hidden" name="username" value="<tmpl_var username escape=html>" />
              <input type="hidden" name="id" value="<tmpl_var id escape=html>" />
              <input type="hidden" name="data" value="<tmpl_var idata escape=html>" />
              <input type="hidden" name="operation" value="delete" />
            </fieldset>
          </form>
        </div>
      </tmpl_if>
    </div>
  </TMPL_LOOP>
</div>
