<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="../js/www/formlib.js"></script>
    <script type="text/javascript" src="../js/www/mpassword.js"></script>
    <meta name="language" content="italian it" />
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <title>Cambio password | Auxils.it</title>
    <meta name="title" content="Cambio password | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="Pagina per la modifica della password di un utente" />
    <meta name="keywords" content="auxils,open,source,personalizzazione,modifica,password,utente" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
      <div id="bar" class="accessmenu">
        <ul>
          <li><a href="index.cgi" lang="en">Home</a></li>
          <li><a href="info.cgi">Info</a></li>
          <tmpl_var name="login">
        </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
        <div id="position"><a href="index.cgi" lang="en">Home</a> > <a href="area-utente.cgi">Area utente</a> > Cambio <span lang="en">password</span></div>
        <div id="data">
          <h3>Modifica password</h3>
          <div class="notify">
            <tmpl_var name="info">
          </div>
          <p>Inserisca la nuova <span lang="en">password</span> scelta e quella attuale.</p>
          <form id="form_ins" class="form_send" action="changePassword.pl" method="post">
            <fieldset>
              <legend>Credenziali di accesso</legend>
              <ul>
                <li><label for="opassword">Vecchia <span lang="en">password</span> *</label></li>
                <li><input class="field" type="password" name="opassword" id="opassword" size="16" /></li>
                <li><label for="password">Nuova <span lang="en">password</span> *</label></li>
                <li><input class="field" type="password" name="password" id="password" size="16" /></li>
                <li><label for="cpassword">Conferma <span lang="en">password</span> *</label></li>
                <li><input class="field" type="password" name="cpassword" id="cpassword" size="16" /></li>
             </ul>
          </fieldset>
          <fieldset class="buttons">
            <legend>Bottoni</legend>
            <input class="button" type="submit" name="changePassword" value="Cambia password" />
            <input class="button" type="reset" value="Annulla" />
          </fieldset>
        </form>
      </div>
    </div>
    <tmpl_var name="footer">
  </div>
  </body>
</html>
