<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <meta name="language" content="italian it" />
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <title>Fedy cambia dominio | Auxils.it</title>
    <meta name="title" content="Fedy cambia dominio | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="notizia di cambio del dominio di fedy" />
    <meta name="keywords" content="auxils,linux,fedy,fedora,open,source,personalizzazione" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
      <div id="bar" class="accessmenu">
        <ul>
          <li><a href="index.cgi" lang="en">Home</a></li>
          <li><a href="info.cgi">Info</a></li>
          <tmpl_var name="login">
        </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
        <div id="position"><a href="index.cgi" lang="en">Home</a> &gt; <span lang="en">Fedy</span> cambia dominio</div>
        <div id="data">
          <h3><span lang="en">Fedy</span> cambia dominio</h3>
          <p>Gli utenti Fedora di certo conosceranno <span lang="en">Fedy</span>, un piccolo ma potente tool che ci consente, con pochi semplici click, di installare codecs multimediali e software aggiuntivo come il supporto agli <span lang="en">MP3</span>, ai file compressi, <span lang="en">Adobe Flash</span>, <span lang="en">Oracle Java</span>, <span lang="en">browser web</span>, temi per <span lang="en">GNOME</span> etc.</p>
          <p>Per aggiungere <span lang="en">Fedy</span> vi basterà ora dare da terminale</p>
          <p class="command">bash -c 'su -c "curl http://folkswithhats.org/fedy-installer -o fedy-installer &amp;&amp; chmod +x fedy-installer &amp;&amp; ./fedy-installer"'</p>
          <p>Per maggiori informazioni vi lascio il link alla pagina su GitHub del programma&nbsp;<a href="https://github.com/folkswithhats/fedy">https://github.com/folkswithhats/fedy</a></p>
          <tmpl_var name="answers">
        </div>
      </div>
      <tmpl_var name="footer">
    </div>
  </body>
</html>
