<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <meta name="language" content="italian it" />
    <title>Ecco il nuovo GNOME Control Center | Auxils.it </title>
    <meta name="title" content="Ecco il nuovo GNOME Control Center | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="Informazioni sul nuovo gnome control center" />
    <meta name="keywords" content="gnome,auxils,linux,open,source,control,center" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
      <div id="bar" class="accessmenu">
        <ul>
          <li><a href="index.cgi" lang="en">Home</a></li>
          <li><a href="info.cgi">Info</a></li>
          <tmpl_var name="login">
        </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
      <div id="position"><a href="index.cgi" lang="en">Home</a> &gt; Ecco il nuovo <span lang="en">GNOME Control Center</span></div>
        <div id="data">
        <h3>Ecco il nuovo <span lang="en">GNOME Control Center</span></h3>
        <span lang="en">GNOME Control Center</span> avrà un nuovo look su GNOME 3.22.
        <p>Il team di sviluppo ha infatti <a href="https://feaneron.com/2016/05/28/the-future-of-gnome-control-center/">pubblicato</a>
        un nuovo screenshot che mostra la prossima versione che vedremo di default su <span lang="en">GNOME</span> 3.22 il cui rilascio è previsto per
        il prossimo settembre.</p>
        <img src="../images/gnome322.png"  alt="GNOME Control Center in azione" />
        <p>Il nuovo <span lang="en">GNOME Control Center</span> sarà in grado di adattarsi sia agli schermi di piccole dimensioni che di grandi dimensioni.
        Il nuovo look consentirà inoltre, nelle intenzioni degli sviluppatori, di migliorare l'interazione.</p>
        <tmpl_var name="answers">
        </div>
      </div>
      <tmpl_var name="footer">
    </div>
  </body>
</html>
