<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <meta name="language" content="italian it" />
    <title>Home Page | Auxils </title>
    <meta name="title" content="Home Page | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="Home page di auxils.it" />
    <meta name="keywords" content="home,auxils,open,source" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
      <div id="bar" class="accessmenu">
        <ul>
          <li class="evd">Home</li>
          <li><a href="info.cgi">Info</a></li>
          <tmpl_var name="login">
        </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
      <div id="position"></div>
        <div id="data">
          <TMPL_LOOP name="articles">
            <div class="article">
              <div class="title">
                <tmpl_var name="title">
              </div>
              <div class="sub">
                <tmpl_var name="sub">
              </div>
              <div class="desc">
                <tmpl_var name="desc">
              </div>
            </div>
          </TMPL_LOOP>
          <tmpl_var name="changePage">
        </div>
      </div>
      <tmpl_var name="footer">
    </div>
  </body>
</html>
