<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <meta name="language" content="italian it" />
    <title>Linux Mint rafforza la sicurezza dei suoi siti e server | Auxils.it</title>
    <meta name="title" content="Linux Mint rafforza la sicurezza dei suoi siti e server | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="Informazioni riguardo l'aumento della sicurezza nei server di Linux Mint" />
    <meta name="keywords" content="open,source,auxils,linux,mint,server,sicurezza,attacco" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
    <div id="bar" class="accessmenu">
      <ul>
        <li><a href="index.cgi" lang="en">Home</a></li>
        <li><a href="info.cgi">Info</a></li>
        <tmpl_var name="login">
      </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
        <div id="position"><a href="index.cgi" lang="en">Home</a> &gt; Linux Mint rafforza la sicurezza dei suoi siti e server</div>
        <div id="data">
          <h3>Linux Mint rafforza la sicurezza dei suoi siti e server</h3>
          <p>Vi ricordate il weekend nero di Linux Mint? Bene, a quanto pare la situazione in casa Mint pare essersi stabilizzata e per l'occasione il team di Linux Mint <a href="http://blog.linuxmint.com/?p=3007">ha preso alcune contromisure</a> come quella di dotare i server della protezione di <a class="emph" href="https://sucuri.net/">Sucuri</a>.</p>
          <p>Al fine di aumentare la sicurezza e prevenire futuri attacchi sono state poste alcune restrizioni ai server. Tutti i siti sono stati spostati su HTTPs ad eccezione del blog che verrà aggiornato a breve.</p>
          <p>Per rendere la verifica delle ISO più accurata verranno fornite, oltre che l'MD5 anche le info&nbsp;<a href="https://it.wikipedia.org/wiki/Secure_Hash_Algorithm" class="emph">SHA-256</a>&nbsp;e GPG.</p>
          <tmpl_var name="answers">
        </div>
      </div>
      <tmpl_var name="footer">
    </div>
  </body>
</html>
