<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/www/menu.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/screen.css" media="handheld, screen" />
    <link type="text/css" rel="stylesheet" href="../css/handheld.css" media="handheld, screen and (max-width:480px), only screen and (max-device-width:480px)" />
    <link type="text/css" rel="stylesheet" href="../css/print.css" media="print" />
    <meta name="language" content="italian it" />
    <title>Stylelint: a caccia di errori css | Auxils.it </title>
    <meta name="title" content="Stylelint: a caccia di errori css | Auxils.it"/>
    <meta name="author" content="Gabriele Marcomin" />
    <meta name="description" content="Informazioni su Stylelint, linter per CSS" />
    <meta name="keywords" content="stylelint,auxils,linux,open,source,css,linter" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="../images/logo.png"  alt="Logo del sito" />
      </div>
      <div id="title">
        <h1>Auxils.it</h1>
        <h2>News dal mondo <span lang="en">Open Source</span></h2>
      </div>
      <div id="btn-responsive-menu" class="accessbutton">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>
    </div>
    <div id="main">
      <div id="bar" class="accessmenu">
        <ul>
          <li><a href="index.cgi" lang="en">Home</a></li>
          <li><a href="info.cgi">Info</a></li>
          <tmpl_var name="login">
        </ul>
      </div>
      <div class="padding"></div>
      <div id="content">
      <div id="position"><a href="index.cgi" lang="en">Home</a> &gt; <span lang="en">Stylelint</span>: a caccia di errori css</div>
        <div id="data">
        <h3><span lang="en">Stylelint</span>: a caccia di errori css</h3>
        <p>Stylelint è un CSS <span lang="en">linter</span>, cioè uno strumento che potrà essere utilizzato per analizzare il codice dei nostri fogli di stile verificandone la correttezza.</p>
        <p>Sostanzialmente esso si basa su delle regole che permettono di identificare criticità nella stilizzazione, problematiche legate alla manutenibilità del sorgente e veri
        e propri errori sintattici. Quando una porzione di codice non soddisfa una di queste regole lo sviluppatore ne verrà informato tramite un apposito report.</p>
        <p>Scritto in <span lang="en">JavaScript</span>, <span lang="en">stylelint</span> effettua un controllo sulle <span lang="en">feature</span> di CSS che potranno essere utilizzate o meno.</p>
        <p>Adottato regolarmente per i propri progetti e personalizzato sulla base delle diverse esigenze, <span lang="en">stylelint</span> è un <span lang="en">tool Open Source</span>
        che permetterà di scrivere regole di stile più aderenti alle convenzioni sintattiche per CSS e di acquisire più facilmente le buone pratiche
        per il coding. La libreria è utilizzabile tramite <span lang="en">CLI, Node API, PostCSS plugin</span> o estensione per editor di testo come <span lang="en">Atom, Sublime Text e Visual Studio Code</span>.</p>
        <tmpl_var name="answers">
        </div>
      </div>
      <tmpl_var name="footer">
    </div>
  </body>
</html>
